version: "3.9"

services:
  api:
    build: .
    container_name: llm-api
    ports:
      - "8001:8001"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  worker:
    build: .
    container_name: llm-worker
    command: celery -A celery_app.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis

